LoadModule ssl_module modules/mod_ssl.so 

Listen 443

<VirtualHost {{ ansible_host }}:443>
  DocumentRoot var/www/html
  ServerName {{ domain }}
  SSLEngine on
  SSLCertificateFile /etc/certs/{{ domain }}/signed.crt # /etc/ssl/ssl-tutorials_com.crt
  SSLCertificateKeyFile /etc/certs/{{ domain }}/domain.key # /etc/ssl/ssl-tutorials.key
</VirtualHost>